

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #app, #app>div {
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  color: rgb(42, 40, 34);
}